.commentContainer{
    border-left: 1px var(--DarkGrayBlue) solid ;
    background-color: var(--LightGrayBlue);
    box-shadow: -1px 0px;
    margin: 1.4vh 0;
    padding: 1vh 2vh;
    border-radius: 10px;
}

h1{
    font-size: 14px;
}
h2{
    font-size: 10px;
    font-style: italic;
    color: var(--GrayishBlue);
}
p{
    margin-top: 1%;
    font-size: 12px;
}