.commentContainer{
    border: 1px black solid;
    margin: 1.4vh 0;
    padding: 1vh 2vh;
}

h1{
    font-size: 14px;
}
h2{
    font-size: 10px;
    font-style: italic;
    color: gray;
}
p{
    font-size: 12px;
}