@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;800&display=swap');


:root{
--Red: hsl(1, 90%, 64%);
--Blue: hsl(219, 85%, 26%);
--White: hsl(0, 0%, 100%);
--VeryLightBlue: hsl(210, 60%, 98%);
--LightGrayBlue: hsl(211, 68%, 96%);
--LightGrayBlue2: hsl(205, 33%, 90%);
--GrayishBlue: hsl(219, 14%, 63%);
--DarkGrayBlue: hsl(219, 12%, 42%);
--VeryDarkBlue: hsl(224, 21%, 14%);
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.container{
    display: flex;
    border: 1px var(--DarkGrayBlue) solid;
    background-color: var(--VeryLightBlue);
    margin: 0 auto;
    min-width: 250px;
    max-width: 80%;
    min-height: 80vh;
    justify-content: center;
    padding: 3vh 5vh;
}


